@import '../colors';

.primary-btn {
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 30px;
  padding: 0 5px;

  &.filled {
    background-color: $earls-green;
    color: $white;
  }

  &:not(.filled) {
    border: 1px solid $earls-green;
    color: $earls-green;
  }

  &:not(.auto-width) {
    max-width: 250px;
    width: 100%;
  }
}
