@import '../../../scss/colors';

.button {
  border-radius: 5px;
  height: 30px;
  max-width: 100%;
  width: 250px;

  &.filled {
    background-color: $earls-green;
    color: $white;
  }

  &:not(.filled) {
    background-color: $background-color;
    border: 1px solid $earls-green;
    color: $earls-green;
  }
}
