$primary-text-color: #000;
$secondary-text-color: #828282;
$earls-green: #bed23c;
$cerulean: #00adee;
$white: #fff;
$wild-sand: #f4f4f4;
$background-color: #fff;
$border-color: rgba($primary-text-color, 0.5);

@mixin primary-text-color {
  color: $primary-text-color;
}

@mixin secondary-text-color {
  color: $secondary-text-color;
}
