@use 'colors' as colors;
@use 'sizes' as sizes;

.book-card {
  background-color: colors.$background-color;
  box-shadow: 4px 4px 10px 0 colors.$border-color;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 24px;
  width: 900px;

  .book-cover {
    max-width: 100%;
    position: relative;
    width: 261px;

    .book-cover-badge {
      height: 118.57px;
      transform: rotate(15deg);
      position: absolute;
      right: -20px;
      top: -17px;
    }
    .book-cover-image {
      width: 100%;
    }
  }
  .book-detail {
    max-width: 100%;
    padding-left: 52px;
    width: 520px;

    .book-title {
      font-size: 32px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    .book-genre {
      @include colors.secondary-text-color;
      font-size: 24px;
    }
    .separator {
      border: none;
      border-top: 4px solid colors.$earls-green;
    }
    .book-prop {
      font-size: 20px;
      margin-top: 30px;
      & > .book-prop-description {
        @include colors.secondary-text-color;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: sizes.$breakpoint-tablet) {
  .book-card {
    justify-content: center;

    .book-detail {
      padding: 0 10px;
    }
  }
}
