@use 'colors' as colors;

.book-detail {
  max-width: 100%;
  padding: 10px;
  width: 600px;

  .book-title {
    font-size: 32px;
    font-weight: bold;
    width: 100%;

    .book-genre {
      @include colors.secondary-text-color;
      font-size: 24px;
    }
  }

  .separator::after {
    border-bottom: 4px solid colors.$earls-green;
    content: '';
    display: block;
    margin-top: 10px;
  }

  .book-prop {
    font-size: 20px;
    margin-top: 30px;

    & > .book-prop-description {
      @include colors.secondary-text-color;
      font-size: 20px;
    }
  }
}
