@import '../../../../../scss/colors';

.sign-up-form {

  &::after {
    content: '';
    display: block;
    border-bottom: 2px solid $silver-chalice;
    margin: 15px 0;
  }

  .form-row {
    margin-bottom: 15px;
  }
}
