@keyframes zoom-in {

  from {
    transform: scale(1.05);
  }

  to {
    transform: scale(1);
  }
}

@keyframes zoom-out {

  from {
    transform: scale(0.85);
  }

  to {
    transform: scale(1);
  }
}

%zoom-in-animation {
  animation-name: zoom-in;
  animation-duration: 1s;
}

%zoom-out-animation {
  animation-name: zoom-out;
  animation-duration: 1s;
}
