@import '~wolox-equalizer/equalizer';

@import 'layout';

@import 'margins';

@import 'components';

@import 'colors';

@import 'fonts';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Roboto, serif;
  color: $primary-text-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
