$primary-text-color: #000;
$secondary-text-color: #828282;
$earls-green: #BED23C;
$cerulean: #00ADEE;
$white: #FFF;
$wild-sand: #EEE;
$silver-chalice: #A8A8A8;
$background-color: #FFF;
$border-color: rgba($primary-text-color, 0.5);
