@use '../colors' as colors;
@use '../sizes' as sizes;
$badge-width-desktop: 95px;
$badge-width-mobile: calc(
  #{$badge-width-desktop} - (#{$badge-width-desktop} * 30 / 100)
);

.badge::after {
  background: url('../img/badge.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  content: '';
  display: flex;
  justify-content: center;
  height: 115px;
  position: absolute;
  right: -20px;
  transform: rotate(15deg);
  top: -15px;
  width: $badge-width-desktop;
}

@mixin separator {
  border-bottom: 4px solid colors.$earls-green;
  content: '';
  display: block;
  margin-top: 10px;
}

.book-card {
  background-color: colors.$background-color;
  box-shadow: 4px 4px 10px 0 colors.$border-color;
  display: flex;
  flex-wrap: wrap;
  grid-area: book-card;
  width: 100%;

  &:not(.book-card-simple) {
    display: grid;
    grid-gap: 0 35px;
    grid-template-areas:
      'book-cover book-title'
      'book-cover book-props';
    grid-auto-columns: 260px auto;
    grid-template-rows: 70px auto;
    margin-top: 75px;
    padding: 25px;
    max-width: 900px;

    .book-title {
      font-size: 32px;

      &::after {
        @include separator;
      }
    }

    .book-props {
      padding-top: 30px;
      font-size: 20px;

      .book-prop {
        margin-bottom: 30px;
      }
    }
  }
  // Simple version
  &.book-card-simple {
    max-width: 200px;
    padding: 30px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.075);
    }

    & > .badge::after {
      display: none;
    }

    .book-cover {
      width: 140px;
    }

    .book-title {
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .book-genre,
    .book-props > .book-prop:not(.keep-visible-simple) {
      display: none;
    }

    .book-props {
      .book-prop {
        .book-prop-name {
          display: none;
        }

        .book-prop-description {
          font-size: 14px;
        }
      }
    }
  }

  .book-cover {
    grid-area: book-cover;
    max-width: 260px;
    position: relative;
    width: 100%;

    .book-cover-image {
      width: 100%;
    }
  }

  .book-title {
    font-weight: bold;
    grid-area: book-title;
    width: 100%;

    .book-genre {
      @include colors.secondary-text-color;
      font-size: 24px;
      grid-area: book-genre;
    }
  }

  .book-props {
    grid-area: book-props;

    .book-prop {
      font-size: inherit;

      & > .book-prop-description {
        font-size: inherit;
        @include colors.secondary-text-color;
      }
    }
  }
}

@media (max-width: sizes.$breakpoint-tablet) {
  .badge::after {
    width: $badge-width-mobile;
    background-size: 100% auto;
  }

  .book-card:not(.book-card-simple) {
    justify-content: center;
    margin-top: 0;
    grid-gap: 30px;
    grid-template-areas:
      'book-title book-title'
      'book-cover book-props';
    grid-template-columns: minmax(auto, 200px) auto;

    .book-title {
      text-align: center;

      &::after {
        display: none;
      }

      .book-genre {
        display: block;
      }
    }

    .book-props {
      align-self: center;
      font-size: 20px;

      .book-prop {
        margin-bottom: 18px;
      }
    }
  }
}

@media (max-width: sizes.$breakpoint-phone) {
  .book-card:not(.book-card-simple) {
    grid-gap: 0;
    grid-template-areas:
      'book-title'
      'book-genre'
      'book-cover'
      'book-props';
    grid-template-columns: minmax(auto, 600px);
    padding: 16px;

    .book-cover {
      justify-self: center;
      margin: 20px 0;
    }

    .book-title {
      font-size: 24px;

      .book-genre {
        font-size: 16px;

        &::after {
          @include separator;
        }
      }
    }

    .book-props {
      padding-top: 18px;
      font-size: 14px;
    }
  }
}
