@use '../colors' as colors;
@use '../sizes' as sizes;
$badge-width-desktop: 95px;
$badge-width-mobile: calc(
  #{$badge-width-desktop} - (#{$badge-width-desktop} * 30 / 100)
);
// $badge-width-mobile: $badge-width-desktop * 70 / 100;

.badge::after {
  background: url('../img/badge.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  content: '';
  display: flex;
  justify-content: center;
  height: 115px;
  position: absolute;
  right: -20px;
  transform: rotate(15deg);
  top: -15px;
  width: $badge-width-desktop;
}

.book-card {
  background-color: colors.$background-color;
  box-shadow: 4px 4px 10px 0 colors.$border-color;
  display: flex;
  flex-wrap: wrap;
  grid-area: book-card;
  width: 100%;

  &:not(.book-card-simple) {
    margin-top: 75px;
    padding: 25px;
    max-width: 900px;

    .book-cover {
      width: 260px;
    }

    .book-detail {
      margin-left: 50px;

      .book-title {
        font-size: 32px;
      }
      .book-props {
        padding-top: 30px;

        .book-prop {
          font-size: 20px;
          margin-bottom: 30px;
          .book-prop-description {
            font-size: 20px;
          }
        }
      }
    }
  }
  // Simple version
  &.book-card-simple {
    max-width: 200px;
    padding: 30px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.075);
    }

    & > .badge::after {
      display: none;
    }

    .book-cover {
      width: 140px;
    }

    .book-detail {
      .book-title {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .book-genre,
      .separator::after,
      .book-props > .book-prop:not(.keep-visible-simple) {
        display: none;
      }

      .book-props {
        .book-prop {
          .book-prop-name {
            display: none;
          }
          .book-prop-description {
            font-size: 14px;
          }
        }
      }
    }
  }

  .book-cover {
    max-width: 100%;
    position: relative;

    .book-cover-image {
      width: 100%;
    }
  }

  .book-detail {
    max-width: 100%;
    width: 520px;

    .book-title {
      font-weight: bold;
      width: 100%;

      .book-genre {
        @include colors.secondary-text-color;
        font-size: 24px;
      }
    }

    .separator::after {
      border-bottom: 4px solid colors.$earls-green;
      content: '';
      display: block;
      margin-top: 10px;
    }

    .book-props {
      .book-prop {
        & > .book-prop-description {
          @include colors.secondary-text-color;
        }
      }
    }
  }
}

@media (max-width: sizes.$breakpoint-tablet) {
  .badge::after {
    width: $badge-width-mobile;
    background-size: 100% auto;
  }
  .book-card:not(.book-card-simple) {
    justify-content: center;
    margin-top: 0;

    .book-detail {
      margin: 20px 10px 0;
      width: 100%;

      .book-title {
        font-size: 24px;

        .book-genre {
          font-size: 16px;
        }
      }
      .book-props {
        padding-top: 18px;

        .book-prop {
          margin-bottom: 18px;
          font-size: 14px;

          .book-prop-description {
            font-size: 14px;
          }
        }
      }
    }
  }
}
