@use '../colors' as colors;
@use '../animations' as animations;

.nav {
  align-items: center;
  background-color: colors.$background-color;
  box-shadow: 0 4px 10px 0 colors.$border-color;
  display: flex;
  height: 70px;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;

  &::before {
    border-top: 6px solid colors.$cerulean;
    top: 0;
    content: '';
    position: absolute;
    width: 100%;
  }

  .nav-logo {
    height: 100%;
    @include animations.zoom-out-animation;
  }

  .nav-option {
    font-size: 18px;

    &:hover {
      color: colors.$cerulean;
      transition: all 0.8s;
    }
  }
}
